<!doctype html>
<html lang="en">
  
  {% load static %}

  {% include 'includes/head.html' %}

  <body>

    {% include 'includes/header.html' %}
    
    <main id="main">
     <!-- ======= Add Bus Section ======= -->
     <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <h2 data-aos="fade-up"><strong>ADD BUS</strong></h2>
            <p data-aos="fade-up"><strong>Add a new bus to the system</strong></p>
          </div>
  
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
            <div class="col-xl-9 col-lg-12 mt-4">
              <form action="" method="POST">
              {% csrf_token %}
                <div class="row">
                  <div class="form-group mt-3">
                    <input type="text" name="name" class="form-control" id="name" style="border-radius: 10rem;" placeholder="BUS NAME" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="image" class="form-control" name="image" id="image" style="border-radius: 10rem;" placeholder="BUS IMAGE" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="number_plate" id="number_plate" style="border-radius: 10rem;" placeholder="NUMBER PLATE" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="source" id="source" style="border-radius: 1rem;" placeholder="SOURCE" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="destination" id="destination" style="border-radius: 1rem;" placeholder="DESTINATION" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="no_of_seats" id="no_of_seats" style="border-radius: 1rem;" placeholder="NO OF SEATS" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="remaining_seats" id="remaining_seats" style="border-radius: 1rem;" placeholder="REMAINING SEATS" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="price" id="price" style="border-radius: 1rem;" placeholder="PRICE" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="date" id="date" style="border-radius: 1rem;" placeholder="DEPARTURE DATE" required>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="departure_time" id="departure_time" style="border-radius: 1rem;" placeholder="DEPARTURE TIME" required>
                  </div>
                  <div class="form-group mt-3">
                    <div class="text-center">
                      <button type="submit" class=" btn btn-secondary" style="border-radius: 10rem;"><strong>SEND MESSAGE</strong></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section><!-- End Add Bus Section -->
    </main>

    {% include 'includes/footer.html' %}
   
  </body>
</html>
