<!doctype html>
<html lang="en">
  
  {% load static %}

  {% include 'includes/head.html' %}

  <body>

    {% include 'includes/header.html' %}

    <main id="main">
      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2><strong>YOUR BOOKINGS</strong></h2>
          </div>
        </div>
      </section>
      <!-- End Why Us Section -->
     
    </main>

    {% include 'includes/footer.html' %}
  
  </body>
</html>
