<!doctype html>
<html lang="en">
  
  {% load static %}

  {% include 'includes/head.html' %}

  <body>

    {% include 'includes/header.html' %}

    <main id="main">
 <!-- ======= Services Section ======= -->
 <section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2><strong>BOOK BUS</strong></h2>
        <h4><strong>SELECT A BUS SEAT BELOW</strong></h4>
      </div>
      <form action="" method="POST">
        <div class="row">
        <div class="col-lg-3 col-md-3" data-aos="fade-up">
                {% csrf_token %}
                  <div class="row">
                    <div class="form-group mt-3">
                        <label>Bus Id:</label>
                        <input type="text" name="busId" class="form-control" id="busId" value="{{ busId }}" style="border-radius: 10rem;">
                    </div>
                    <div class="form-group mt-3">
                        <label>Seat Numbers:</label>
                        <input readonly type="text" class="form-control" name="seat_nos" id="seat_nos" style="border-radius: 10rem;">
                    </div>
                    <div class="form-group mt-3">
                        <label>Number Of Seats:</label>
                        <input readonly type="text" class="form-control" name="count" id="count" style="border-radius: 10rem;">
                    </div>
                    <div class="form-group mt-3">
                        <label>Phone Number:</label>
                      <input type="text" class="form-control" name="phone_number" id="phone_number" style="border-radius: 1rem;">
                    </div>
                    <div class="form-group mt-3">
                        <label>Bus Station:</label>
                      <input type="text" class="form-control" name="bus_station" id="bus_station" style="border-radius: 1rem;">
                    </div>
                    <div class="form-group mt-3">
                      <div class="text-center">
                        <button type="submit" class=" btn btn-secondary" style="border-radius: 10rem;"><strong>BOOK</strong></button>
                      </div>
                    </div>
                  </div>
                
        </div>

        <div class="col-lg-9 col-md-9 text-center align-items-center" data-aos="fade-up" data-aos-delay="100">
          <div class="row">
            <div class="col-lg-6 col-md-3">
              <div class="row">
                    <div class="col-lg-2 text-center align-items-center" style="margin-right: 30px; margin-left: 30px;">
                        <img src="{% static 'flexor/img/seats/available.png' %}" style="height: 30px; width: 30px;"><br>
                        <strong>SEAT AVAILABLE</strong>
                    </div>
                    <div class="col-lg-2 text-center align-items-cente" style="margin-right: 30px; margin-left: 30px;">
                        <img src="{% static 'flexor/img/seats/reserve.png' %}" style="height: 30px; width: 30px;" ><br>
                        <strong>SEAT RESERVE</strong>
                    </div>
                    <div class="col-lg-2 text-center align-items-cente" style="margin-right: 30px; margin-left: 30px;">
                        <img src="{% static 'flexor/img/seats/booked.png' %}" style="height: 30px; width: 30px;"><br>
                        <strong>SEAT BOOKED</strong>
                    </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-3">
              <button class="btn btn-danger" style="border-radius: 10rem;" onclick="location.reload()"> CLEAR SEATS </button>
            </div>
          </div>


          <div class="row" id="bus-div" style="margin-top: 50px;">

            <div class="col-1">
              <img src="{% static 'flexor/img/seats/driver.png' %}" alt="Driver"
                style="height: 30px; width: 30px;">
              <label for="Driver" class="ml-2">DRIVER</label>

              <img class="align-items-end" src="{% static 'flexor/img/seats/door.png' %}" alt="Bus-door"
                style="vertical-align:bottom;margin-top:80px;height: 30px; width: 30px;">
              <label for="Door" class="ml-2">DOOR</label>
            </div>

            <div class="col-11">
              {% for seat, val in seats.items %}
              {% if val >= 1 %}
              <input class='seat-booked' type="image" disabled style="height: 30px; width: 30px;"
                src="{% static 'flexor/img/seats/booked.png' %}" id="{{seat}}" value="{{seat}}">

              {% else %}
              <input type="image" style="height: 30px; width: 30px;" onclick="bookSeat(this.id)"
                src="{% static 'flexor/img/seats/available.png' %}" id="{{seat}}" value="{{seat}}">

              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        </div>
      </form>
    </div>
  </section><!-- End Services Section -->
</main>



{% include 'includes/footer.html' %}
  
  </body>

  
</html>
