<!doctype html>
<html lang="en">
  
  {% load static %}

  {% include 'includes/head.html' %}

  <body>

    {% include 'includes/header.html' %}
    
    <main id="main">
     <!-- ======= Bus Details Section ======= -->
     <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <h2 data-aos="fade-up"><strong>BUS DETAILS</strong></h2>
            <p data-aos="fade-up"><strong>Your Bus Details</strong></p>
          </div>
  
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
            <div class="col-xl-9 col-lg-12 mt-4">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                </div>
                <div class="row">
                       
                </div>
            </div>
          </div>
        </div>
      </section><!-- End Bus Details Section -->
    </main>

    {% include 'includes/footer.html' %}
   
  </body>
</html>
