<!doctype html>
<html lang="en">
  
  {% load static %}

  {% include 'head.html' %}

  <body>

    {% include 'headerb4login.html' %}
    
    <main id="main">
     <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <h2 data-aos="fade-up"><strong>Contact</strong></h2>
            <p data-aos="fade-up"><strong>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</strong></p>
          </div>
  
          <div class="row justify-content-center">
  
            <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3><strong>Our Address</strong></h3>
                <p><strong>A108 Adam Street, New York, NY 535022</strong></p>
              </div>
            </div>
  
            <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
              <div class="info-box">
                <i class="bx bx-envelope"></i>
                <h3><strong>Email Us</strong></h3>
                <p><strong>info@example.com<br>contact@example.com</strong></p>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
              <div class="info-box">
                <i class="bx bx-phone-call"></i>
                <h3><strong>Call Us</strong></h3>
                <p><strong>+1 5589 55488 55</strong><br><strong>+1 6678 254445 41</strong></p>
              </div>
            </div>
          </div>
  
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
            <div class="col-xl-9 col-lg-12 mt-4">
              <form action="" method="POST" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" style="border-radius: 10rem;" placeholder="NAME" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" style="border-radius: 10rem;" placeholder="EMAIL" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" style="border-radius: 10rem;" placeholder="SUBJECT" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" style="border-radius: 10rem;" placeholder="MESSAGE" required></textarea>
                </div>
                
                <div class="form-group mt-3">
                  <div class="text-center"><button type="submit"><strong>SEND MESSAGE</strong></button></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section><!-- End Contact Section -->
    </main>

    {% include 'footer.html' %}

    <!-- Vendor JS Files -->
  <script src="{% static 'flexor/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'flexor/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'flexor/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'flexor/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'flexor/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'flexor/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'flexor/js/main.js' %}"></script>

      
  </body>
</html>
