<!doctype html>
<html lang="en">
  
  {% load static %}

  {% include 'includes/head.html' %}

  <body>

    {% include 'includes/header.html' %}

    <main id="main">
      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2><strong>FIND A BUS</strong></h2>
            <h4><strong>SEARCH, FIND A BUS AND PROCEED TO BOOK</strong></h4>
          </div>

          {% if error %}
            <div class="alert alert-danger text-center h4">
              <strong>Sorry!, {{error}}</strong>
            </div>
            <div class='container-fluid text-center'>
              <a class='btn btn-info ' href="/">Home</a>
            </div>
          {% else %}   
          {% comment %}
            <div class="alert alert-warning text-center">
              <strong>Note: You are required to search for a bus going to your desired and book with correct Bus Id.</strong> 
            </div>
          {% endcomment %}
          <div class="row">
              <div class="col-xl col-lg" data-aos="fade-up">
                <div class="content bg-bussearch">
                  <div class="row">
                    <div class="col-md-3">
                      <h2>BUS SEARCH</h2>
                    </div>
                    <div class="col-md-9">
                      <form action="/bussearch/" method="POST">
                        {% csrf_token %}
                          <div class="row">

                            <div class="col-md-3">
                              <div class="form-group">
                                <div class='input-group' id='datetimepicker1'>
                                  <select class="form-control" id="source" name="source">
                                    <option value="FROM">FROM</option>
                                    <option value="KAMPALA">KAMPALA</option>
                                    <option value="FORTPORTAL">FORTPORTAL</option>
                                    <option value="KASESE">KASESE</option>
                                    <option value="KABALE">KABALE</option>
                                    <option value="BUSHENYI">BUSHENYI</option>
                                    <option value="NTUNGAMO">NTUNGAMO</option>
                                    <option value="MBARARA">MBARARA</option>
                                    <option value="MASAKA">MASAKA</option>
                                    <option value="JINJA">JINJA</option>
                                    <option value="SOROTI">SOROTI</option>
                                    <option value="TORORO">TORORO</option>
                                    <option value="MBALE">MBALE</option>
                                    <option value="KABONG">KABONG</option>
                                    <option value="GULU">GULU</option>
                                    <option value="LIRA">LIRA</option>
                                    <option value="KITGUM">KITGUM</option>
                                    <option value="ARUA">ARUA</option>
                                    <option value="NEBBIE">NEBBIE</option>
                                    <option value="MASINDI">MASINDI</option>
                                  </select> 
                                </div>
                              </div><br>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                  <select class="form-control" id="destination" name="destination">
                                    <option value="TO">TO</option>
                                    <option value="KAMPALA">KAMPALA</option>
                                    <option value="FORTPORTAL">FORTPORTAL</option>
                                    <option value="KASESE">KASESE</option>
                                    <option value="KABALE">KABALE</option>
                                    <option value="BUSHENYI">BUSHENYI</option>
                                    <option value="NTUNGAMO">NTUNGAMO</option>
                                    <option value="MBARARA">MBARARA</option>
                                    <option value="MASAKA">MASAKA</option>
                                    <option value="JINJA">JINJA</option>
                                    <option value="SOROTI">SOROTI</option>
                                    <option value="TORORO">TORORO</option>
                                    <option value="MBALE">MBALE</option>
                                    <option value="KABONG">KABONG</option>
                                    <option value="GULU">GULU</option>
                                    <option value="LIRA">LIRA</option>
                                    <option value="KITGUM">KITGUM</option>
                                    <option value="ARUA">ARUA</option>
                                    <option value="NEBBIE">NEBBIE</option>
                                    <option value="MASINDI">MASINDI</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                  <input type='date' class="form-control" id="date" name="date" placeholder="DATE"/>
                                </div>
                              </div><br>
                            </div>

                            <div class="col-md-3 text-center">
                              <button type="submit" class="more-btn"><strong>SEARCH</strong></button>
                            </div>

                          </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          {% endif %}

          <div class="row">
            <div class="col-xl col-lg d-flex">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <form action="/busbook/" method="POST">
                {% csrf_token %}
                  <div class="row justify-content-center">
                    {% for bus in Bus %}
                    <div class="col-lg-4 col-md-4 d-flex align-items-stretch justify-content-center" data-aos="fade-up" data-aos-delay="100">
                      <div class="member mt-4 mb-4 ml-4 mr-4 ">
                        <div class="member-img">
                          {% if bus.image %}
                            <img src="{{ bus.image.url }}" class="img-fluid" style="border-radius: 10px;" alt="">
                          {% endif %}
                        </div>
                        <div class="member-info text-center">
                          <h4><strong>{{ bus.name }}</strong></h4>
                          <h6><strong><input readonly class="bg-white text-center" name="busId" id="busId" value="{{ bus.id }}"></strong></h6>
                          <p>
                            <strong>
                              <ul class="list-unstyled">
                                <li>NUMBER PLATE: {{ bus.number_plate }}</li>
                                <li>FROM: {{ bus.source }}</li>
                                <li>TO: {{ bus.destination }}</li>
                                <li>AVAILABLE SEATS: {{ bus.remaining_seats }}</li>
                                <li>PRICE: UGX {{ bus.price }}</li>
                                <li>DEPARTURE DATE: {{ bus.date }}</li>
                                <li>DEPARTURE TIME: {{ bus.departure_time }}</li>
                              </ul>
                            </strong>
                          </p>
                          <button type="submit"
                          class=" btn {% if bus.remaining_seats == 0 %} btn-secondary {% else %} btn-primary {% endif %} " 
                          style="border-radius: 25px;" 
                          {% if bus.remaining_seats == 0 %} value="FULLY BOOKED" disabled {% endif %}>
                          <strong>
                            {% if bus.remaining_seats == 0 %}
                              FULLY BOOKED
                            {% else %}
                              BOOK NOW
                            {% endif %}
                          </strong>
                          </button>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Why Us Section -->
     
    </main>

    {% include 'includes/footer.html' %}
  
  </body>
</html>
