<!doctype html>
<html lang="en">
  
  {% load static %}

  {% include 'includes/head.html' %}

  <body>

    {% include 'includes/header.html' %}
    
    <main id="main">
     <!-- ======= Bus Details Section ======= -->
     <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <h2 data-aos="fade-up"><strong>FLEETS GENERAL REPORT</strong></h2>
            <p data-aos="fade-up"><strong>Your Buses/Fleets General Report</strong></p>
          </div>
  
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">
           
              <div class="row">
                <table class="table">
                  <thead>
                    <tr>
                      <th>BOOKING ID</th>
                      <th>BUS ID</th>
                      <th>BUS NAME</th>
                      <th>PASSENGER NAME</th>
                      <th>BUS STATION</th>
                      <th>DATE</th>
                      <th>TIME</th>
                      <th>SEATS BOOKED</th>
                      <th>NO OF SEATS BOOKED</th>
                      <th>UNIT PRICE</th>
                      <th>AMOUNT PAID</th>
                      <th>PAYMENT METHOD</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for bus_detail in bus_details %}
                    <tr>
                      <td>{{ bus_detail.id }}</td>
                      <td>{{ bus_detail.bus_id }}</td>
                      <td>{{ bus_detail.bus_name }}</td>
                      <td>{{ bus_detail.user_name }}</td>
                      <td>{{ bus_detail.bus_station }}</td>
                      <td>{{ bus_detail.date }}</td>
                      <td>{{ bus_detail.time }}</td>
                      <td>{{ bus_detail.seat_numbers }}</td>
                      <td>{{ bus_detail.no_of_seats }}</td>
                      <td>{{ bus_detail.unit_price }}</td>
                      <td>{{ bus_detail.total_price }}</td>
                      <td>{{ bus_detail.payment_method }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section><!-- End Bus Details Section -->
    </main>

    {% include 'includes/footer.html' %}
   
  </body>
</html>
