<!doctype html>
<html lang="en">
  
  {% load static %}

  {% include 'includes/head.html' %}

  <body>

    {% include 'includes/header.html' %}

    {% if user.is_authenticated %}

    <!-- ======= Hero Section ======= -->

      <section class="hero d-flex flex-column justify-content-center align-items-center">
        <div class="container text-center" data-aos="fade-in">
          <h1><strong>Panda Bus Booking and Ticketing System</strong></h1>
          <h2><strong>Travel Around the Pearl of Africa with just a Click, We are Here for you.</strong></h2>
          <div class="align-items-center text-center">
            <a href="" class="btn-get-started scrollto"><strong> Hello {{ user.first_name }}, Get Started </strong></a>
          </div>
        </div>
      </section><!-- End Hero -->

      <main id="main">

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
          <div class="container">

            <div class="row">
              <div class="col-xl col-lg" data-aos="fade-up">
                <div class="content">
                  <div class="row">
                    <div class="col-md-3">
                      <h2>BUS<br>SEARCH</h2>
                    </div>
                    <div class="col-md-9">
                      <form action="/accomodation/" method="POST">
                        {% csrf_token %}
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                  <select class="form-control" id="busfrom" name="busfrom">
                                    <option value="FROM">FROM</option>
                                    <option value="KAMPALA">KAMPALA</option>
                                    <option value="FORTPORTAL">FORTPORTAL</option>
                                    <option value="KASESE">KASESE</option>
                                    <option value="KABALE">KABALE</option>
                                    <option value="BUSHENYI">BUSHENYI</option>
                                    <option value="NTUNGAMO">NTUNGAMO</option>
                                    <option value="MBARARA">MBARARA</option>
                                    <option value="MASAKA">MASAKA</option>
                                    <option value="JINJA">JINJA</option>
                                    <option value="SOROTI">SOROTI</option>
                                    <option value="TORORO">TORORO</option>
                                    <option value="MBALE">MBALE</option>
                                    <option value="KABONG">KABONG</option>
                                    <option value="GULU">GULU</option>
                                    <option value="LIRA">LIRA</option>
                                    <option value="KITGUM">KITGUM</option>
                                    <option value="ARUA">ARUA</option>
                                    <option value="NEBBIE">NEBBIE</option>
                                    <option value="MASINDI">MASINDI</option>
                                  </select> 
                                </div>
                              </div><br>
                              <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                  <select class="form-control" id="busto" name="busto">
                                    <option value="TO">TO</option>
                                    <option value="KAMPALA">KAMPALA</option>
                                    <option value="FORTPORTAL">FORTPORTAL</option>
                                    <option value="KASESE">KASESE</option>
                                    <option value="KABALE">KABALE</option>
                                    <option value="BUSHENYI">BUSHENYI</option>
                                    <option value="NTUNGAMO">NTUNGAMO</option>
                                    <option value="MBARARA">MBARARA</option>
                                    <option value="MASAKA">MASAKA</option>
                                    <option value="JINJA">JINJA</option>
                                    <option value="SOROTI">SOROTI</option>
                                    <option value="TORORO">TORORO</option>
                                    <option value="MBALE">MBALE</option>
                                    <option value="KABONG">KABONG</option>
                                    <option value="GULU">GULU</option>
                                    <option value="LIRA">LIRA</option>
                                    <option value="KITGUM">KITGUM</option>
                                    <option value="ARUA">ARUA</option>
                                    <option value="NEBBIE">NEBBIE</option>
                                    <option value="MASINDI">MASINDI</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                  <input type='date' class="form-control" id="busdate" name="busdate" placeholder="DATE"/>
                                </div>
                              </div><br>
                              <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                  <input type='time' class="form-control" id="bustime" name="bustime" placeholder="TIME"/>   
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3 text-center">
                              <a href="" class="more-btn"><strong>SEARCH</strong></a>
                            </div>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xl col-lg d-flex">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                  <div class="row">
                    {% for bus in buses %}
                      <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box mt-4 mt-xl-0">
                          
                          <img src="{{ bus.busimage.url }}" class="img-fluid" alt=""><br>
                          <br>
                          <h4><strong>{{ bus.busname }}</strong></h4>
                          <p>
                            <strong>
                              <ul class="list-unstyled">
                                <li>FROM: {{ bus.busfrom }}</li>
                                <li>TO: {{ bus.busto }}</li>
                                <li>DEPARTURE DATE: {{ bus.busdate }}</li>
                                <li>DEPARTURE TIME: {{ bus.bustime }}</li>
                              </ul>
                            </strong>
                          </p>
                          <button  class="btn-primary" style="border-radius: 25px;"><strong> BOOK NOW </strong></button>
                        </div>
                      </div>
                    {% endfor %}
                    <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                      <div class="icon-box mt-4 mt-xl-0">
                        <img src="{% static 'flexor/img/team/dukes.jpg' %}" class="img-fluid" alt=""><br>
                        <br>
                        <h4><strong>LINK  BUS</strong></h4>
                        <p>
                          <strong>
                            <ul class="list-unstyled">
                              <li>FROM: KAMPALA</li>
                              <li>TO: FORTPORTAL</li>
                              <li>DEPARTURE DATE: 01/10/2022</li>
                              <li>DEPARTURE TIME: 09:00</li>
                            </ul>
                          </strong>
                        </p>
                        <button  class="btn-primary" style="border-radius: 25px;"><strong> BOOK NOW </strong></button>
                      </div>
                    </div>
                    <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                      <div class="icon-box mt-4 mt-xl-0">
                        <img src="{% static 'flexor/img/team/dukes.jpg' %}" class="img-fluid" alt=""><br>
                        <br>
                        <h4><strong>LINK  BUS</strong></h4>
                        <p>
                          <strong>
                            <ul class="list-unstyled">
                              <li>FROM: KAMPALA</li>
                              <li>TO: FORTPORTAL</li>
                              <li>DEPARTURE DATE: 01/10/2022</li>
                              <li>DEPARTURE TIME: 09:00</li>
                            </ul>
                          </strong>
                        </p>
                        <button  class="btn-primary" style="border-radius: 25px;"><strong> BOOK NOW </strong></button>
                      </div>
                    </div>
                    <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                      <div class="icon-box mt-4 mt-xl-0">
                        <img src="{% static 'flexor/img/team/dukes.jpg' %}" class="img-fluid" alt=""><br>
                        <br>
                        <h4><strong>LINK  BUS</strong></h4>
                        <p>
                          <strong>
                            <ul class="list-unstyled">
                              <li>FROM: KAMPALA</li>
                              <li>TO: FORTPORTAL</li>
                              <li>DEPARTURE DATE: 01/10/2022</li>
                              <li>DEPARTURE TIME: 09:00</li>
                            </ul>
                          </strong>
                        </p>
                        <button  class="btn-primary" style="border-radius: 25px;"><strong> BOOK NOW </strong></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

            

          </div>
        </section><!-- End Why Us Section -->
      </main>

    <!-- End Hero Section -->

    {% else %}

    <!-- ======= Hero Section ======= -->

      <section class="hero d-flex flex-column justify-content-center align-items-center">
        <div class="container text-center" data-aos="fade-in">
          <h1><strong>Panda Bus Booking and Ticketing System</strong></h1>
          <h2><strong>Travel Around the Pearl of Africa with just a Click, We are Here for you.</strong></h2>
          <div class="align-items-center text-center">
            <a href="login/" class="btn-get-started"><strong>Login and Get Started</strong></a>
          </div>
        </div>
      </section><!-- End Hero -->

      <main id="main">

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
          <div class="container">

            <div class="row">
              <div class="col-xl-4 col-lg-5" data-aos="fade-up">
                <div class="content">
                  <h3><strong>Why Choose PANDA for your Bus booking and Ticketing option?</strong></h3>
                  <p><strong>
                    Bus reservations with Panda are made using a clear, 
                    straightforward approach that allows you the option to 
                    select the seat of your choice from the seating arrangement and pay only what is necessary.
                    We are a committed company with exceptional customer care service.
                  </strong></p>
                  <div class="text-center">
                    <a href="services/" class="more-btn"><strong>Learn More</strong><i class="bx bx-chevron-right"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-xl-8 col-lg-7 d-flex">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                  <div class="row">
                    <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-receipt"></i>
                        <h4><strong>MISSION</strong></h4>
                        <p><strong>Our mission is to simplify consumer needs and set the bar for online bus and ticketing systems in East and Central Africa.</strong></p>
                      </div>
                    </div>
                    <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-cube-alt"></i>
                        <h4><strong>VISION</strong></h4>
                        <p><strong>Our Vision is to maximize customer satisfaction while increasing revenue using the PANDA online bus booking and ticketing system.</strong></p>
                      </div>
                    </div>
                    <div class="col-xl-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-images"></i>
                        <h4><strong>CORE VALUES</strong></h4>
                        <p><strong>Passion.</strong></p>
                        <p><strong>Fairness.</strong></p>
                        <p><strong>Teamwork.</strong></p>
                        <p><strong>Diversity and Inclusion.</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!-- End Why Us Section -->
      </main>

    <!-- End Hero Section -->

    {% endif %}

    {% include 'includes/footer.html' %}
    
  </body>
</html>
