<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title>PANDA BUS BOOKING AGENCY</title>
    
    {% load static %}

    {% if messages %}
      {% for message in messages %}
        <script> alert('{{message}}')</script>
      {% endfor %}
    {% endif %}
    
    <!-- Favicons -->
    <link href="{% static 'assets/brand/panda.svg' %}" rel="icon">
    <link href="{% static 'assets/brand/panda.svg' %}" rel="apple-touch-icon" >
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'flexor/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'flexor/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'flexor/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'flexor/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'flexor/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'flexor/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <!-- <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
    integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Template Main CSS File -->
    <link href="{% static 'flexor/css/style.css' %}" rel="stylesheet">
  
  </head>